<!-- welcome.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Panels</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script type="text/javascript" src="js/h-include.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body>
    <div class="dashboard">
      <h1>Panels demo</h1>
      <p class="amount">Panels loaded with h-include:<span id="amount"></span></p>
    </div>
    <div id="scrollArea">
      <div class="panels">
      </div>
    <div id="target"></div>
  </body>
</html>
